.index-block1{
    width: 100%;
    position: relative;
    max-height: 670px;
    overflow: hidden;
}
.index-block1-top{
    width: 100%; 
    height: 105px;
    background: rgba(53,59,75,0.7) url(../img/top-bg.png) repeat-x left top;
    background-size: 100% 100%;
    position: relative;
    z-index: 2;
    .logo-img{
         position: absolute;
         top: 25px;
         left: 95px;
    }
    .index-block-btn{
        position: absolute;
        top: 52px;
        left: 32%;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        >a{
            display: inline-block;
            margin-right: 80px;
            padding: 18px 5px 8px;
            font-size: 14px;
            color: #fff;
            box-sizing: border-box;
            font-weight: bold;
            border-bottom: 1px transparent solid;
            &.active{
                color: #2cc0f0;
                border-bottom: 1px #19c3f6 solid;
            }
            &:hover{
                color: #2cc0f0;
                border-bottom: 1px #19c3f6 solid;
            }
            &.yingyong{
                &:hover{
                    .arrow-down{
                        display: block;
                    }
                }
            }
        }
        p{
            display: inline-block;
            width: 105px;
            height: 34px;
            border-radius: 14px;
            background: #2cc0f0;
            text-align: center;
            line-height: 34px;
            color: #fff;
            margin-top: 7px;
            a{
                font-size: 14px;
                color: #fff;
            }
        }
    }
}
.arrow-down{
    width: 158px;
    height: 87px;
    display: none;
    position: absolute;
    top: 46px;
    left: 57px;
    h6{
        width: 158px;
        height: 13px;
        margin: 0;
        background: url(../img/arrow.png) no-repeat center top;
//      position: absolute;
//      top: -13px;
//      left: 65px;
    }
    div{
        width: 145px;
        height: 43px;
        text-align: center;
        line-height: 43px;
        font-size: 14px;
        color: #fff;
        background: #353b4b;
        cursor: pointer;
        &.active{
            background: #2cc0f0;
        }
        &:hover{
            background: #2cc0f0;
        }
        &.fir{
            height: 44px;
            border-bottom: 1px #4f5360 solid;
            box-sizing: border-box;
            border-radius: 5px 5px 0 0;
        }
        &.sed{
            border-radius: 0 0 5px 5px;
        }
    }
}
.swiper-container-index{  
    top: -55px;  
    .swiper-wrapper{
        .swiper-slide{
            >img{
                width: 100%;
                position: relative;
                z-index: 1;
            }            
        }
    }
    #pagination1{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 542px;
        z-index: 8;
        .swiper-pagination-bullet{
            width: 16px;
            height: 16px;
            background: transparent;
            border: 2px #fff solid;
            border-radius: 50%;
            opacity: 1;
            &.swiper-pagination-bullet-active{
                background: #fff;
            }
        }
    }
    .swiper-index-div{
        position: absolute;
        top: 176px;
        left: 15%;
        z-index: 2;
        &.index-silde1{
            h4{
                font-size: 48px;
                color: #fff;
                margin-bottom: 22px;
                span{
                    color: #2cc0f0;
                }
            }
            p{
                display: inline-block;
                height: 58px;
                line-height: 58px;
                background: rgba(0,0,0,0.45);
                font-size: 30px;
                color: #fff;
                border-left: 9px #2cc0f0 solid;
                box-sizing: border-box;
                padding: 0 25px 0 16px;
                margin-bottom: 28px;
            }
            h3{
                
                a{
                    width: 232px;
                    height: 58px;
                    text-align: center;
                    line-height: 58px;
                    color: #fff;
                    font-size: 24px;
                    display: inline-block;
                    border:2px #2cc0f0 solid;
                    border-radius: 3px;
                    margin-right: 20px;
                    &.active{
                        background: #2cc0f0;
                    }
                }
            }
        }
    }
}
.index-block2{
    width: 860px;
    height: 560px;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 48px;
    box-sizing: border-box;
    .index-block2-top{
        height: 175px;
        background: url(../img/index2-01.png) no-repeat left top;
        box-sizing: border-box;
        padding: 64px 0 0 92px;
        margin-bottom: 50px;
        p{
            font-size: 30px;
            color: #333;
            font-weight: bold;
            i{
                color: #fff;
                font-style: normal;
            }
            b{
                font-size: 48px;
            }
        }
        h4{
            font-size: 18px;
            color: #999;
            i{
                font-style: normal;
                padding-bottom: 17px;
                border-bottom: 2px #19c3f6 solid;
            }
        }
    }
    .index-block2-bottom{
        .index-block2-bottom-left{
            width: 408px;
            height: 255px;
            background: url(../img/index2-04.png) no-repeat;
            background-position-y: 18px;
            padding: 0 27px;
            box-sizing: border-box;
            float: left;
            position: relative;
            left: -27px;
            h4{
                height: 58px;
                padding: 33px 0 0 62px;
                box-sizing: border-box;
                background: url(../img/index2-02.png) no-repeat;
                font-size: 18px;
                color: #333;
                margin-bottom: 16px;
            }
            p{
                color: #999;
                height: 146px;
                line-height: 27px;
                font-size: 16px;
            }
            h3{
                font-size: 16px;
                color: #333;
                font-weight: normal;
                span{
                    padding-bottom: 7px;
                    border-bottom: 1px #333 solid;
                }
            }
            &.index-block2-bottom-right{
                float: right;
                h4{
                    background: url(../img/index2-03.png) no-repeat;
                }
            }
        }
    }
}
.index-block3{
    width: 100%;
    height: 1053px;
    background:#f7f7f7 url(../img/index3-07_02.jpg) no-repeat center;
    background-size: 100% 100%;
    overflow: hidden;
    .index-block3-top{
        width: 860px;
        height: 175px;
        background: url(../img/index3-01.png) no-repeat left top;
        box-sizing: border-box;
        padding: 84px 0 0 92px;
        margin:169px auto 5px;
        p{
            font-size: 30px;
            color: #fff;
            font-weight: bold;
            i{
                color: #333;
                font-style: normal;
                padding-bottom: 26px;
                border-bottom: 2px #19c3f6 solid;
            }
        }
    }
    .index-block3-bottom{
        width: 897px;
        height: 541px;
        margin: 0 auto;
        background: url(../img/index3-06.png);
        position: relative;
        left: -10px;
        padding: 55px;
        box-sizing: border-box;
    }
    .index-block3-item1{
        width: 340px;
        float: left;
        overflow: hidden;
        margin-bottom: 30px;
        &.fr{
            float: right;
        }
        h4{
            height: 96px;
            background: url(../img/index3-02.png) no-repeat;
            font-size: 18px;
            color: #333;
            padding-top: 45px;
            box-sizing: border-box;
            i{
                font-style: normal;
                padding-bottom: 9px;
                border-bottom: 2px #19c3f6 solid;
            }
            &.index-block3-item1-2{
                background: url(../img/index3-03.png) no-repeat;
            }
            &.index-block3-item1-3{
                background: url(../img/index3-04.png) no-repeat;
            }
            &.index-block3-item1-4{
                background: url(../img/index3-05.png) no-repeat;
            }
        }
        p{
            line-height: 27px;
            color: #999;
            font-size: 16px;
            margin-bottom: 8px;
            span{
                color: #333;
                font-size: 18px;
                line-height: 24px;
            }
        }
        a{
            width: 180px;
            display: inline-block;
            font-size: 14px;
            color: #333;
            background: url(../img/more-icon.png) no-repeat;
            background-position: 9px center;
            background-position: 62px center;
            
        }
    }
}
.index-block4{
    .index-block4-top-box{
        background:#f7f7f7;
        padding-bottom: 68px;
    }
    .index-block4-top{
        width: 860px;
        height: 122px;
        background:#f7f7f7 url(../img/index4-01.png) no-repeat left top;
        box-sizing: border-box;
        padding: 84px 0 0 92px;
        margin:0 auto;
        p{
            font-size: 30px;
            color: #333;
            font-weight: bold;
            i{
                color: #fff;
                font-style: normal;                
            }
        }
        h4{
            font-size: 18px;
            color: #999;
            i{
                font-style: normal; 
                padding-bottom: 12px;
                border-bottom: 2px #19c3f6 solid;
            }
        }
    }
    .index-block4-center{
        width: 100%;
        height: 290px;
        background:#f7f7f7 url(../img/index4-03.png) no-repeat right bottom;
        background-position-y: 86px;
        padding-bottom: 20px;
        margin-bottom: 65px;
        img{
            display: block;
            margin: 0 auto;
        }
    }
    .index-block4-bottom{
        width: 860px;
        box-sizing: border-box;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            display: inline-block;
            width: 269px;
            height: 330px;
            box-sizing: border-box;
            padding: 279px 0 0 0;
            background: url(../img/index4-04.png) no-repeat;
            &.p2{
                background: url(../img/index4-05.png) no-repeat;
                a{
                    background-position: 222px center;
                }
            }
            &.p3{
                background: url(../img/index4-06.png) no-repeat;
            }
            a{
                width: 269px;
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
                color: #333;
                background: url(../img/more-icon.png) no-repeat;
                background-position: 193px center;
            }
        }
    }
}
#swiper-container2 .swiper-slide{
    padding: 0 120px;
    box-sizing: border-box;
}
.index-block5{
    width: 100%;
    height: 1162px;
    position: relative;
    background: url(../img/index05-bg_02.jpg) no-repeat left top;
    background-size: 100% 100%;
    padding-top: 40px;
    .index-block5-top{
        width: 860px;
        height: 122px;
        background:url(../img/index5-01.png) no-repeat left top;
        box-sizing: border-box;
        padding: 84px 0 0 92px;
        margin:0 auto 73px;
        p{
            font-size: 30px;
            color: #333;
            font-weight: bold;
            i{
                color: #fff;
                font-style: normal; 
                padding-bottom: 12px;
                border-bottom: 2px #19c3f6 solid;               
            }
        }
    }
    .index-block5-center{
        width: 860px;
        height: 178px;
        line-height: 160px;
        font-weight: bold;
        font-size: 14px;
        background: url(../img/index5-05.png) no-repeat;
        background-size: 100% 100%;
        margin: 0 auto;
        position: relative;
        box-sizing: border-box;
        padding-left: 25px;
        a{
            color: #333;
            font-size: 18px;
            margin: 0 5px;
            cursor: pointer;
            &.active{
                color: #2cc0f0;
            }
            &:hover{
                color: #2cc0f0;
            }
        }
        img{
            position: absolute;
            right: 49px;
            top: -153px;
        }
    }
    .index-block5-center2{
        width: 812px;
        height: 148px;
        text-align: center;
        line-height: 148px;
        margin: 104px auto 0;
        font-weight: bold;
        font-size: 24px;
        color: #333;
        background: url(../img/index5-06.png) no-repeat;
        position: relative;
        left: -72px;
        top: -66px;
    }
    .index-block5-bottom{
        width: 900px;
//      height: 148px;
        margin: 36px auto 0;
        box-sizing: border-box;
        padding: 0 65px;
        position: relative;
        p{
            font-size: 24px;
            color: #999;
        }
        span{
            position: absolute;
            width: 47px;
            height: 44px;
            display: inline-block;
            &.lf{
                background: url(../img/index5-03.png) no-repeat;
                top: 252px;
                left: 60px;
            }
            &.rt{
                background: url(../img/index5-04.png) no-repeat;
                top: 252px;
                right: 60px;
            }
        }
        a{
            display: block;
            width: 80px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            color: #34add4;
            font-weight: bold;
            font-size: 18px;
            border-bottom: 2px #333 solid;
            margin: 0 auto;
        }
    }
}
.footer-block{
    background: url(../img/footer-bg.png) no-repeat center;
    background-size: 100%;
    position: relative;
    top: -50px;
    padding-bottom: 70px;
    .footer-content{
       width: 865px;
       height: 500px;
       margin: 0 auto;
       position: relative;
       top: 118px;
    }
    .footer-content-lf{
        width: 580px;
        height: 492px;
        border: 4px #e6e6e6 solid;
        float: left;
        padding: 64px 0 0 47px;
        box-sizing: border-box;
        margin:0 43px 40px 0;
        img{
            margin-bottom: 40px;
        }
        h3{
            color: #cdcdcd;
            font-size: 18px;
            line-height: 30px;
        }
        h4{
            color: #cdcdcd;
            font-size: 16px;
            line-height: 30px;
        }
        p{
            color: #cdcdcd;
            font-size: 14px;
            line-height: 22px;
            &.marginb32{
                margin-bottom: 32px;
            }
        }
    }
    .footer-content-rt{
        float: left;
        position: relative;
        top: 166px;
        img{
            margin:0 44px 40px 0;
            &.imgright1{
                margin-right: 0;
            }
        }
        p{
            color: #fff;            
            a{
                font-size: 14px;
                color: #fff;
                padding: 0 6px;
            }
        }
    }
}
